.col-1{width:8.33% ;  }
.col-2{width:16.66% ; }
.col-3{width:25% ;    }
.col-4{width:33.33% ; }
.col-5{width:41.66% ; }
.col-6{width:50% ;    }
.col-7{width:58.33% ; }
.col-8{width:66.66% ; }
.col-9{width:75% ;    }
.col-10{width:83.33% ;}
.col-11{width:91.66% ;}
.col-12{width:100% ;  }

/*Navber Start here */ 


.navber-logo{
    text-align: left;
}
.navber-heading{
    text-align: right;
}
.navber-heading h1{
    color: coral;
    text-shadow: 2px 3px 5px black;
}

.navber-manu{
    flex-direction: row;
    justify-content: flex-end;
}
.navber-manu a{
    background-color:transparent;
    padding: 5px 15px;
    margin: 20px 0px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    
}
.navber-manu a:hover{
    box-shadow: none;
    background-color:transparent;
    color: coral;
}

/*Navber End here */


/*Profile design Start here */

.profile .top-weather-icon{
    right:100px;
    width: 120px;
    transition: width 2s, transform 2s;

}

.profile .top-weather-icon:hover{
    transform: rotate(360deg);
    width: 140px;
    
}
.profile-desc p{
    text-align: center;
    color: gray;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 10px;
}

.profile .bottom-weather-icon{
    bottom:20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;

}

.profile .bottom-weather-icon:hover{
    
    width: 140px;
    
}

/*Profile Design end here */


/*About me Design Start here */

.aboutme-desc p{
    text-align: left;
    font-size: 1.2rem;
}
.aboutme-image img{
    margin: 115px;
    height: 275px;
    width: 250px;
}
.cv-button{
    border: 2px solid white;
}
.cv-button:hover{
    box-shadow: 2px 2px 5px black;
}

/* About Me  Design end here */

/* professionals experinces start form here */
.professional-experience{
    padding: 1% 0;
}
/* professionals experences end form here */



/* Achievement contact start form here */
.achievement{
    
}
.achievement-contact{
    height: 530px;
    
}

.contact{
    border: 5px solid white;
    padding: 50px;
    
    height: 540px;
}

.contact-link{
    height: 530px;
    
}
.contact button{
    width: 150px;
    margin-top: 5px;
}

.contact-links{
    position: relative;
}

.media-buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:62.5px;
}

.media-buttons .btn{
    width: 100px;
    font-size: 4rem;
}


.achievement::after{
    clear: both;
    display: table;
    content: '';
}


/* Achievement contact end form here */


/* footer start form here */

.footer-menu{
    margin-top: 12px;
}
.footer-menu a{
    display: inline;
    margin: 10px;
}


.footer::after{
    clear: both;
    display: table;
    content: '';
}
/* Footer end form here */




