*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightcyan;
}
.grid-container{
    max-width: 700px;
    max-height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows: 50px;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
    background-color: pink;
    align-content: center;
    border: 5px solid rgb(255, 135, 135);

}
.grid-container:hover{
    box-shadow: 5px 5px 22px  rgb(22, 19, 19);
    transition: 0.4s;
}
.grid-container > div{
    background-color: aquamarine;
    border: 1px solid rgb(29, 29, 29);
    text-align: center;
    padding: 5px;
    transition: 0.2s;
}

.grid-container > div:hover{
    color: red;
    background-color: gainsboro;
    box-shadow: 1px 1px 5px gray;
    font-weight: bold;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3;
}