*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 224, 226);
}
.container{
    max-width: 1200px;
    background-color: rgba(232, 255, 233, 0.767);
    padding: 20px;
    margin: 0 auto;
}
.row{
    
}
.column{
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 992px){
    .column{
        float: left;
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .column{
        width: 100%;
        background-color: gray;
        margin: 8px;
        border-radius: 9px;
        text-shadow: 2px 3px 6px white;
        font-size: 1.2rem;
        font-weight: bold;
    }
}