body{
    background-color: #eee;
    font-family:'Roboto', sans-serif;
}
.container{
    max-width: 1300px;
    margin:0 auto;
    background-color: #e4f9f5;
    padding: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    color: green;
}
.h1-class::first-letter{
				
    color: green;
    font-size: 3.5rem;
}
.z-index1{
    width: 250px;
    height: 250px;
    background: #10188a;
    float: left;
    padding-left: 60px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;

    

}
.z-index2{
    width: 250px;
    height: 250px;
    background: #fc0404;
    float: left;
    padding-left: 60px;
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 1;
} 
